.container {
  @include mappy-bp(max-width small) {
    width: 90%;
  }
  @include mappy-bp(max-width xs) {
    width: 80%;
  }

}
.half-center-transparent--top {
  position:relative;
    &:after {
      content: '';
      display:block;
      z-index: 1000;
      position:absolute;
      padding: 25px 0;
      top: -40px;
      width: 100%;
      left: 0;
      background: url('/images/half-circle-decor.png')no-repeat center center;
      background-size:100%;
      @include mappy-bp(max-width small) {
        background-size: 270%;
      }
    }
}

.half-center-scroll-icon {
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
  &.bottom {
    bottom: -35px;
  }
  &.top {
    top: -35px;
  }

    .scroll {
      display: inline-block;
      padding: 10px;
      background-color: #fff;
      @include vendor((border-radius: 50%), webkit moz ms o);
    }
}
.icon-scroll {
  position: absolute;
  bottom: 3%;
  left: 0;
  z-index: 100;
  width: 100%;
  text-align: center;
  @include mappy-bp(max-width small) {
    z-index: 10;
  }
}

section {
  background: #fff;
  &.default {
    padding: 30px 0;
  }
  &.home-contact {
    background:  url('/images/decoration-call.png')no-repeat bottom left, #fff;
  }
  &.info-product {
    z-index: 2;
    position: relative;
  }

  &.extra-padding {
    padding: 50px 0;
  }
  &.faq {
    background:  url('/images/decoration-people-chat.png')no-repeat bottom center, #fff;
    background-size: 100%;
    padding-bottom: 350px;
  }
  &.grey {
    background-color: #f7f7f7;
  }
  &.with-scroll-bottom {
    padding-bottom: 70px;
  }
  &.calculator {
      z-index: 1;
      position: relative;
      padding: 100px 0;
  }

  &.sub-page-banner {
    position: relative;
    min-height: 500px;
    display: table;
    width: 100%;
    .middler-wrapper{
      display: table-cell;
      vertical-align: middle;
    }
      &.product {
        background: url('/images/banner-product.jpg')no-repeat center center;
        background-size: cover;
      }
      &.about {
        background: url('/images/banner-about.jpg')no-repeat center center;
        background-size: cover;
        height: 600px;
      }
      &.contact {
        background:  url('/images/banner-contact.jpg')no-repeat bottom left, #fff;
        background-size: cover;
        height: 600px;
      }

  }
}
.tab-content {
  section {
    position: relative;
    padding:60px 0;
    &.product-summary{
      background:  url('/images/decoration-chair.png')no-repeat top right, #fff;
      z-index: 3;
    }
    &.detail-summary {
      z-index: 2;
      padding-top: 140px;
    }
    &.guarantee-summary {
      z-index: 1;
    }
  }
}


.contact-form-wrapper {
  border-right: solid 1px #ededed;
  padding-right: 80px;
}

.contact-information-detail {
  background-color: #f7f7f7;
  @include vendor((border-radius: 20px), webkit moz ms o);
  padding: 10px 20px;
  border-bottom: solid 20px $brand-primary;
  @include vendor((box-shadow: 0px 1px 13px rgba(0,0,0,.2)), webkit moz  ms o);
}
.notification {
  @include vendor((transition: all 600ms), webkit moz ms o);
  @include vendor((border-radius: 20px), webkit moz ms o);
  @include vendor((box-shadow: 0px 1px 13px rgba(0,0,0,.2)), webkit moz  ms o);
  position: fixed;
  z-index: 1000;
  background-color: $brand-primary;
  color: #fff;
  font-family: $brand-font-medium;
  top: 30px;
  left: 25%;
  right: 25%;
  padding: 10px;
  font-size: 14px;
  text-align: center;
  span {
    font-size: 22px;
  }
}


#loader {
  animation: animate 1.5s linear infinite;
  clip: rect(0, 80px, 80px, 40px);
  height: 80px;
  width: 80px;
  position: absolute;
  left: calc(50% - 40px);
  top: calc(50% - 40px);
}
@keyframes animate {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(220deg)
  }
}
.loader-container {
  position: relative;
  text-align: center;
}
#loader {
  animation: animate2 1.5s ease-in-out infinite;
  height: 80px;
  width: 80px;
}
@keyframes animate2 {
  0% {
    box-shadow: inset #fff 0 0 0 17px;
    transform: rotate(-140deg);
  }
  50% {
    box-shadow: inset #fff 0 0 0 2px;
  }
  100% {
    box-shadow: inset #fff 0 0 0 17px;
    transform: rotate(140deg);
  }
}
