.color-primary {
  color: $brand-primary;
}
.color-white {
  color: #fff;
}
.color-dark-grey {
  color: #515151;
}
.text-center {
  text-align: center;
}

.medium {
  font-family: $brand-font-medium;
}
