.color-primary {
  color: $brand-primary;
}
.caps {
  text-transform: uppercase;
}
.color-white {
  color: #fff;
}
.color-dark-grey {
  color: #515151;
}
.text-center {
  text-align: center;
}

.medium {
  font-family: $brand-font-medium;
}
.book {
  font-family: $brand-font-book;
}

.flush-t {
  margin-top: 0;
}
.flush-b {
  margin-bottom: 0;
}

.m-t-20 {
  margin-top: 20px;
}
