input, textarea{
  border: none;
  &.rounded {
    @include vendor((border-radius: 50px), webkit moz ms o);
  }
  &:focus {
  }
  outline: none;

  &.grey {
    background-color: #dfdfdf;
  }
  &.form-control {
    border: none;
    border-radius: 10px;
  }
}
.input-group-addon {
  background: #d2d2d2;
  border: none;
  color: #fff;
  font-size: 19px;
  &:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}
.select-custom {
  .select2 {
    width: 100% !important;
    text-align: left;
  }
  button {
    background-color: #dfdfdf !important;
   &:active, &:focus {
      color: #000 !important;
    }
    &:hover {
      color: #000 !important;

    }
  }
  .bs-caret {
    &:before {
      font-family: 'Glyphicons Halflings';
      content: "\e114";
      display: inline-block;
      margin-top: 7px;
      color: #fff;
    }
  }
  .bootstrap-select.open {
    .bs-caret {
      &:before {
        @include vendor((transform: rotate(180deg)),webkit moz ms o);
      }
    }
  }
  .caret {
    display: none;
  }
  .select2-container--default .select2-selection--single {
    background-color: #dfdfdf;
    @include vendor((border-radius: 10px !important), webkit moz ms o);
    border: none;
  }
  .select2-container--default .select2-selection--single .select2-selection__arrow  {
    @include vendor((border-top-right-radius: 21px !important), webkit moz ms o);
    @include vendor((border-bottom-right-radius: 21px !important), webkit moz ms o);
    background-color: #d2d2d2;
    b {
    border-color: #fff transparent transparent transparent;    }
  }
  button {
    color: #000;
  }


  .bootstrap-select {
    width: 100% !important;
  }
  .dropdown-toggle {
      background-color: #dfdfdf;
      @include vendor((border-radius: 10px), webkit moz ms o);
      border: none;
  }
  .bs-caret {
    background: #d2d2d2;
    display: inline-block;
    width: 30px;
    position: absolute;
    height: 30px;
    top: 0;
    right: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    .caret {
      border-top-color: #fff
      }
  }

}

.v-select .open-indicator:after {
  font-family: 'Glyphicons Halflings';
  content: "\e114";
  margin-top: 7px;
  color: #fff;
  font-style: normal;
  display: inline-block;
}
.v-select {
  text-align: left;
  &.open {
    .open-indicator:after {
      @include vendor((transform: rotate(180deg)),webkit moz ms o);

    }

  }
}
.v-select.searchable .dropdown-toggle {
  background-color: #dfdfdf;
  @include vendor((border-radius: 10px), webkit moz ms o);
  border: none;
  &.v-select input[type=search], .v-select input[type=search]:focus {
    height: 28px;
  }

}
.v-select .dropdown-toggle .clear {
  color: #dfdfdf !important;
}

.v-select .open-indicator:before  {
  content: none !important;
}
.select-lang {
  background-color: transparent;
  border: none;
  color: #fff;
}
.v-select .open-indicator  {
  text-align: center;
  width: 30px !important;
  height: 100% !important;
  top: 0;
  right: 0 !important;
  background: #d2d2d2;
  @include vendor((border-top-right-radius: 10px), webkit moz ms o);
  @include vendor((border-bottom-right-radius: 10px), webkit moz ms o);

}
#hour-input {
  .bootstrap-datetimepicker-widget {
    width: 140px !important;
    // height: 140px;
  }
  .bootstrap-datetimepicker-widget table td span {
      display: inline-block;
      width: 34px;
      height: 34px;
  }


}
.form-group {
  margin-bottom: 30px;
}
