.card {
  display: inline-block;
  width: 100%;
  padding: 10px;
  text-align: center;
    &.product {
      text-align: center;
      .description {
        min-height: 75px;
      }
    }
    &.form {
      max-width: 80%;
      background-color: #fff;
      @include vendor((border-radius: 20px), webkit moz ms o);
      padding: 20px 40px;
      margin: 20px 0;
      min-height: 450px;
      border-bottom: solid 20px $brand-primary;
      @include vendor((box-shadow: 0px 1px 13px rgba(0,0,0,.2)), webkit moz  ms o);
      @include mappy-bp(max-width medium) {
        max-width: 90%;
      }

      &.zipcode {
        // padding: 40px;
        margin: 20px 0 50px 0;
      }
      &.product-package {
        max-width: 95%;
      }
    }
}
