.summary-wrapper {
  display: flex;
  align-items: top;
  margin-bottom: 20px;
  .title {
    margin-top: 0;
    padding: 3px 10px;
    width: 20%;
  }
  .ico {
    padding: 0 5px;
    width: 5%;
  }
  .description {
    width: 75%;
    padding: 0 15px;
  }
}
.list-contact-information {
  margin-top: 30px;
  dt {
    display: flex;
    margin-bottom: 30px;
    align-items:  center;
    .ico {
      width: 15%;
    }
    .details {
      width: 85%;
      font-size: 12px;
      font-family: $brand-font-regular;
      color: #515151;
    }
  }
}
