.tabs-navigation {
  background-color: $brand-primary;
  text-align: center;
  display: flex;
  justify-content: center;
  &:before, &:after {
    display: table;
    content: '';
  }
  &:after {
    clear: both;
  }
  .nav-tabs
  {
    border-bottom: none;
   li {
      a {
        @include vendor((border-radius: 0), webkit moz ms o);
        padding: 10px 50px;
        color: #fff;
        font-family: $brand-font-regular;
      }
      &.active {
        a {
          color: $brand-primary;

        }
      }
    }
  }
}
.calculator-container {
  width: 300px;
  display: inline-block;
  height: 245px;
  @include vendor((border-top-left-radius: 10px),webkit moz ms o);
  @include vendor((border-bottom-left-radius: 10px),webkit moz ms o);
  background-color: $brand-primary;
  position: fixed;
  top: 25%;
  right: -20%;
  z-index: 1000;
    .title {
      @include vendor((transform-origin:37% 376%),webkit moz ms o);
      @include vendor((transform: rotate(-90deg)),webkit moz ms o);
      cursor: pointer;
    }
    .content {
      width: 86%;
      margin-left: 43px;
      background: #fff;
      height: 100%;
      position: absolute;
      padding: 20px;
      top: 0;
      border-bottom: solid 10px $brand-primary;
    }
}

.form-slider-arrow {
  padding-left: 50px;
  margin-top: 25px;
  display: flex;
  a {
    cursor: pointer;  
  }
}
.calculator-form-list-indicator {
  display: inline-block;
  margin-left: 30px;
}
