.tabs-navigation {
  background-color: $brand-primary;
  text-align: center;
  display: flex;
  justify-content: center;
  &:before, &:after {
    display: table;
    content: '';
  }
  &:after {
    clear: both;
  }
  .nav-tabs
  {
    border-bottom: none;
   li {
      a {
        @include vendor((border-radius: 0), webkit moz ms o);
        padding: 10px 50px;
        color: #fff;
        font-family: $brand-font-regular;
      }
      &.active {
        a {
          color: $brand-primary;

        }
      }
    }
  }
}
.calculator-container {
  display: inline-block;
  position: fixed;
  top: 55%;
  right: 0;
  z-index: 10;
  cursor: pointer;
  img {
    @include vendor((transition: all 500ms), webkit moz ms o);
    &:hover {
      @include vendor((transform: scale(1.15)), webkit moz ms o);
    }

  }
}

.form-slider-arrow {
  padding-left: 50px;
  margin-top: 25px;
  display: flex;
  a {
    cursor: pointer;
  }
}
.calculator-form-list-indicator {
  display: inline-block;
  margin-left: 30px;
}
