.panel {
  background: transparent;
}
.panel-parolamas {
  @include vendor((box-shadow: none), webkit moz ms o);

  .panel-heading {
    background: #efefef;
    position: relative;
    @include vendor((border-radius: 20px), webkit moz ms o);
    + .panel-collapse > .panel-body {
      border-top: none;
      padding-top: 0;
        .panel-content {
          border-left: solid 4px $brand-primary;
          padding: 10px 10px 0 10px ;
        }

    }
  }
  .panel-title {
    a {
      font-size: 18px;
      font-family: $brand-font-medium;
      &:active , &:focus {
        text-decoration: none;
      }
    }
  }
  .icon-panel {
    width: 23px;
    height: 14px;
    margin-top: 5px;
    position: absolute;
    top: 25%;
    right: 15px;
    background: url('/images/icon-panel-down.png')no-repeat top left;
  }
  .panel-heading {
    &.active {
      .icon-panel{
        background: url('/images/icon-panel-up.png')no-repeat top left;
      }
    }
  }

}
